<div class="topPage">
  <div class="listWrapper">
    <% @lists.each do |list| %>
      <div class="list">
        <div class="list_header">
          <h2 class="list_header_title"><%= list.title %></h2>
          
          <div class="list_header_action">
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: { confirm: "#{list.title}を削除して大丈夫ですか？" } %>
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list)) %>
          </div>

          <div class="cardWrapper">
          <% list.cards.each do |card| %>
            <%= link_to list_card_path(list, card), class: "cardDetail_link #{'faded' if card.is_faded}" do %>
                <div class="card">
                  <h3 class="card_title"><%= card.title %></h3>
                  <% if card.category.present? %>
                    <p class="card_category"><%= card.category.name %></p>
                  <% end %>
                  <% if card.memo.size > 0 %>
                    <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
                  <% end %>
                </div>
            <% end %>
            <%= button_to toggle_fade_list_card_path(list, card), method: :patch, class: 'icon-button' do %>
              <i class="fas fa-check"></i>
            <% end %>
  
          <% end %>
          
          <div class="addCard">
            <i class="far fa-plus-square"></i>
            <%= link_to "さらにカードを追加", new_list_card_path(list), class: "addCard_link" %>
          </div>
        </div>
        
        
        </div>
      </div>
    <% end %>
  </div>
</div>

<button id="chatbotButton">Chat</button>

<div class="top" id="chatWindow" style="display: none;">
  <h3>ChatGPTに聞きたいことを入力してください。</h3>
  <%= render 'chatbotshared/form' %>

  <div class="response">
    <h3>ChatGPTからの返信結果</h3>
    <br>
    <div id="chats"></div>
    <br>
    <br>
  </div>
</div>

<script>

document.getElementById('chatbotButton').addEventListener('click', function() {
  var chatWindow = document.getElementById('chatWindow');
  if (chatWindow.style.display === 'none') {
    chatWindow.style.display = 'block';
  } else {
    chatWindow.style.display = 'none';
  }
});

</script>
