<div class='carddetailPage'>
  <div class="container">
    <div class="cardContents">
      <div>
        <div>商品名</div>
        <h2><%= @card.title %></h2>
      </div>
      <div>
        <div>メモ</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="cardContents_category">
        <div>カテゴリー</div>
        <% if @card.category.present? %>
            <div><%= @card.category.name %></div>
        <% end %>
      </div>
      <div>
        <div>リスト名</div>
        <div><%= @card.list.title %></div>
      </div>

      <div>
        <%= link_to '編集する', edit_list_card_path(@card.list, @card), class: "edit_btn" %>
        <%= link_to '削除をする', list_card_path(@card.list, @card), class: "text-danger delete_btn", method: :delete, data: { confirm: "このカードを削除して大丈夫ですか?" } %>
      </div>

      
    
    </div>
  </div>
</div>
